:root {
  --skyblue: #bcd9e7;
  --black: #0a0a0a;
  --white: #fff;
  --gray: #aaaaaa;
  --ligt_green: #98c38b;
  --light_red: #f37658;
  --blending_blue: #0075df;
  --bluehover: #94bfe9;
  --principalcolor: #f5f5f5;
  --principalcoloropacity:#d4e2efa2;
}

body {
  width: 100%;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
  background-color: var(--skyblue);
  font-family: "Sen", sans-serif;
  background-image: url(../../Images/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section {
  border-radius: 15px;
  width: 85%;
  padding: 20px;
  background-color: var(--principalcoloropacity);
}

.bloc {
  display: grid;
  grid-template-columns: 20% auto;
  border-radius: 20px;
  background-color: var(--principalcolor);
}

.bloc-one {
  box-shadow: 0.5px 0 0 0 var(--gray);
  padding-top: 15px;
}
.bloc-one .dashboard, .bloc-one div:hover {
  background-color: var(--bluehover);
  border-left: 3px solid var(--blending_blue);
  border-radius: 5px;
}
.bloc-one div {
  margin: 10px;
  padding: 8px;
}
.bloc-one div:hover {
  transition: 0.5s;
}

.bloc_user {
  padding-top: 30px;
}
.bloc_user .bloc_display {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
}
.bloc_user .user_profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.bloc_user img {
  border-radius: 50%;
  border: 2px solid white;
  width: 40px;
}

.bloc-grid-template {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 15px;
  padding: 15px;
}

.bloc_inter .inter1, .bloc_inter .tableau {
  text-align: center;
  padding: 15px;
  background-color: var(--white);
  box-shadow: 0px 0px 3px 0px var(--bluehover);
  border-radius: 10px;
}
.bloc_inter .inter1 p, .bloc_inter .tableau p {
  margin-top: 15px;
}
.bloc_inter .next_level {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tableau {
  margin-top: 15px;
}
.tableau .tableau_p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

table {
  width: 100%;
  margin-top: 20px;
}
table tbody th, table td {
  padding: 8px;
}

.blocks {
  text-align: center;
  padding: 15px;
  background-color: var(--white);
  box-shadow: 0px 0px 3px 0px var(--bluehover);
  border-radius: 10px;
}
.blocks .bloc-display-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bloc-result1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.second-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.third-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.possession, .average, .win-possession, .trafert-badget {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--white);
  box-shadow: 0px 0px 3px 0px var(--bluehover);
  border-radius: 10px;
  margin-top: 15px;
}

.shedule-match {
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
  background-image: url(../../Images/background_football.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-row: span 3;
}
.shedule-match div {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--black);
  text-decoration: none;
  align-items: center;
}

h1 {
  color: var(--skyblue);
}

.btn1 {
  border: none;
  padding: 7px 20px;
  border-radius: 25px;
  background-color: var(--black);
  color: var(--white);
  margin-top: 200px;
  margin-left: 10px;
}
.btn1:hover {
  color: var(--black);
  transition: 0.5s;
  background-color: var(--white);
  border: 1px solid var(--black);
}

.link_logout {
  color: var(--white);
}

.btn2 {
  padding: 5px;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  background-color: var(--white);
}

html {
  scroll-behavior: smooth;
}/*# sourceMappingURL=index.css.map */