:root{
    --skyblue: #bcd9e7;
    --black: #0a0a0a;
    --white: #fff;
    --gray: #aaaaaa;
    --ligt_green: #98c38b;
    --light_red: #f37658;
    --blending_blue: #0075df;
    --bluehover: #94bfe9;
    --principalcolor: #f5f5f5;
    --principalcoloropacity:#d4e2efa2;
}