@use '../utils' as u;
body{
    width: 100%;
    background-color: var(--skyblue);
    font-family: u.$font;
}
section{
    display: grid;
    grid-template-columns: 20% auto;
    padding: 20px;
}
.bloc-one{
    div{
        margin: 10px;
        padding: 6px;

        &:hover{
            background-color: var(--bluehover);
            border-left: 3px solid var(--blending_blue);
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
    }
}