@use '../utils' as u;
@use '../utils/mixins' as *;

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--skyblue);
    font-family: u.$font;
    background-image: url(../../Images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section{
    border-radius: 15px; 
    width:85%;
    padding: 20px;
    background-color: var(--principalcoloropacity);
}

.bloc-container-all{
    display: grid;
    grid-template-columns: 20% auto;
    border-radius: 20px;
    background-color: var(--principalcolor);
}

.bloc-nav{
   box-shadow: 0.5px 0 0 0 var(--gray);
   padding-top: 15px;
    .dashboard{
        background-color: var(--bluehover);
        border-left: 3px solid var(--blending_blue);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    div{
        margin: 10px;
        width: 96%;
        padding: 8px;
        &:hover {
            @extend .dashboard;
            transition: 0.5s;
        }
    }
}

.bloc_user{
    padding-top: 30px;
    .bloc_display{
        display: flex;
        padding-left: 15px;
        padding-right: 15px;
        justify-content: space-between;
    }
    .user_profile{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    & img{
        border-radius: 50%;
        border: 2px solid var(--white);
        width: 30px; 
    }
}

.bloc-grid-template{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
    padding: 15px;
}
.bloc_inter{
    .inter1{
        @include blocks_part;
        p{
            margin-top: 15px;
        }
    }
    .next_level{
        @include display_flex;
       
    }
}
.tableau{
    @extend .inter1;
    margin-top: 15px;
    .tableau_p{
        @include display_flex;
    }
}
table{
    width: 100%;
    margin-top: 20px;
    tbody th, td{
        padding: 8px;
    }
}

.blocks{
    @include blocks_part;
    .bloc-display-flex{
        @include display_flex;
    }
}
.bloc-result1{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.second-child{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    :nth-child(1){
        grid-row: span 5;
    }
    :nth-child(2){
        grid-column: span 5;
    }
}
.third-child{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.possession,.average,.win-possession,.trafert-badget{
    @include blocks_part_mini;
}
.shedule-match{
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    background-image: url(../../Images/background_football.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-row: span 3;

    div{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}
