@use '../utils/' as u;
*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: var(--black);
    text-decoration: none;
    align-items: center;
}
h1{
    color: var(--skyblue);
}
.btn1{
    border: none;
    padding: 7px 20px;
    border-radius: 25px;
    font-weight: bolder;
    font-family: u.$font;
    border: 1px solid var(--blending_blue);
    background-color: var(--bluehover);
    margin-top: 100px;
    margin-left: 10px;
    &:hover{
        transition: 0.5s;
        border: 1px solid var(--blending_blue);
        background-color: var(--white);
    }  
}
.btn2{
    font-weight: bolder;
    font-family: u.$font;
    padding: 5px;
    border-radius: 5px;
    border: none;
    padding: 8px 10px;
    background-color: var(--white);
}