//Element positions
@mixin centralize{
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@mixin element_start{
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}
@mixin element_end{
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}
@mixin blocks_part{
    text-align: center;
    padding: 15px;
    background-color: var(--white);
    box-shadow: 0px 0px 3px 0px var(--bluehover);
    border-radius: 10px;
}
@mixin blocks_part_mini{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--white);
    box-shadow: 0px 0px 3px 0px var(--bluehover);
    border-radius: 10px;
    margin-top: 15px;
}
@mixin display_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


